.button, .button:hover {
    -fx-background-color: $color-background-light;
    -fx-text-fill: $color-foreground;
    -fx-border-width: 0;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: $color-background-light * 1.25;
    -fx-border-color: $color-background-light * 1.25;
    -fx-border-width: 0;
}

.btn-play:hover, .btn-pause:hover, btn-back:hover, btn-next:hover {
    -fx-background-color: transparent;
}

.btn-play {
    -fx-background-color: transparent;
    -fx-background-image: url("images/btn-play.png");
    -fx-background-size: 160px;
}

.btn-pause {
    -fx-background-color: transparent;
    -fx-background-image: url("images/btn-play.png");
    -fx-background-size: 160px;
    -fx-background-position: -80px;
}

.btn-filter {
    -fx-background-color: $color-background-dark;
    -fx-background-size: 160px;
}

.btn-next {
  -fx-background-color: transparent;
  -fx-background-image: url("images/btn-next.png");
  -fx-background-size: 160px;
}

.btn-back {
  -fx-background-color: transparent;
  -fx-background-image: url("images/btn-back.png");
  -fx-background-size: 160px;
}