.button, .button:hover {
    -fx-background-color: $color-background;
    -fx-text-fill: $color-foreground;
    -fx-border-width: 0;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: $color-background-light * 1.25;
    -fx-border-color: $color-background-light * 1.25;
    -fx-border-width: 0;
}

.btn-play:hover, .btn-pause:hover, .btn-back:hover, .btn-next:hover {
    -fx-background-color: transparent;
}

.btn-play {
    -fx-background-color: transparent;
    -fx-background-image: url("images/btn-play.png");
    -fx-background-size: 160px;
}

.btn-pause {
    -fx-background-color: transparent;
    -fx-background-image: url("images/btn-play.png");
    -fx-background-size: 160px;
    -fx-background-position: -80px;
}

.btn-library {
  -fx-background-image: url("images/library.png");
}

.btn-angry {
  -fx-background-image: url("images/angry.png");
}

.btn-happy {
  -fx-background-image: url("images/happy.png");
}

.btn-sad {
  -fx-background-image: url("images/sad.png");
}

.btn-calm {
  -fx-background-image: url("images/calm.png");
}

.btn-filter, .btn-open {
    -fx-background-color: $color-background-light;
    -fx-background-size: 65px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-border-color: $color-background-dark $color-background-dark $color-background-dark $color-background-dark;
    -fx-border-width: 0.5px;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.btn-filter:hover, .btn-open:hover {
  -fx-background-color: $color-primary;
}


.btn-next {
  -fx-background-color: transparent;
  -fx-background-image: url("images/next.png");
  -fx-background-size: 80px;
}

.btn-back {
  -fx-background-color: transparent;
  -fx-background-image: url("images/back.png");
  -fx-background-size: 80px;
}