.button, .button:hover {
    -fx-background-color: $color-background-light;
    -fx-text-fill: $color-foreground;
    -fx-border-width: 0;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: $color-background-light * 1.25;
    -fx-border-color: $color-background-light * 1.25;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.btn-play {

}

.btn-pause {

}