.table-view, .playlist {
    -fx-background-color: $color-background;
}

.column-header .label {
    -fx-text-fill: $color-foreground;
    -fx-font-weight: bold;
    -fx-text-alignment: left;
    -fx-alignment: CENTER_LEFT;
}

.column-header, .column-header:empty, .column-header-background {
    -fx-text-alignment: left;
    -fx-border-color: transparent $color-background $color-background transparent;
    -fx-background-color: $color-background-dark * 1.25;
}

.table-view:focused .table-row-cell:filled:focused:selected,
.table-row-cell:filled:focused:selected {
    -fx-background-color: $color-background-dark * 1.5;
}

.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: $color-background-dark * 1.66;
}

.table-view:focused .table-row-cell:filled:focused:selected:hover,
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: $color-background-dark * 1.66;
}

.song {
    -fx-text-fill: $color-foreground;
    -fx-border-color: transparent $color-background transparent transparent;
}

.table-row-cell {
    -fx-background-color: $color-background-dark;
}