.button, .button:hover { -fx-background-color: #16272B; -fx-text-fill: #fcfafa; -fx-border-width: 0; -fx-font-weight: bold; }

.button:hover { -fx-background-color: #205660; -fx-border-color: #205660; -fx-border-width: 0; }

.btn-play:hover, .btn-pause:hover, .btn-back:hover, .btn-next:hover { -fx-background-color: transparent; }

.btn-play { -fx-background-color: transparent; -fx-background-image: url("images/btn-play.png"); -fx-background-size: 160px; }

.btn-pause { -fx-background-color: transparent; -fx-background-image: url("images/btn-play.png"); -fx-background-size: 160px; -fx-background-position: -80px; }

.btn-library { -fx-background-image: url("images/library.png"); }

.btn-angry { -fx-background-image: url("images/angry.png"); }

.btn-happy { -fx-background-image: url("images/happy.png"); }

.btn-sad { -fx-background-image: url("images/sad.png"); }

.btn-calm { -fx-background-image: url("images/calm.png"); }

.btn-filter, .btn-open { -fx-background-color: #1A454D; -fx-background-size: 65px; -fx-background-repeat: no-repeat; -fx-background-position: center; -fx-border-color: #121A1C #121A1C #121A1C #121A1C; -fx-border-width: 0.5px; -fx-font-size: 15px; -fx-font-weight: bold; }

.btn-filter:hover, .btn-open:hover { -fx-background-color: #FF4E50; }

.btn-next { -fx-background-color: transparent; -fx-background-image: url("images/next.png"); -fx-background-size: 80px; }

.btn-back { -fx-background-color: transparent; -fx-background-image: url("images/back.png"); -fx-background-size: 80px; }

.table-view, .playlist { -fx-background-color: #16272B; }

.column-header .label { -fx-text-fill: #fcfafa; -fx-font-weight: bold; -fx-text-alignment: left; -fx-alignment: CENTER_LEFT; }

.column-header, .column-header:empty, .column-header-background { -fx-text-alignment: left; -fx-border-color: transparent #16272B #16272B transparent; -fx-background-color: #162023; }

.table-view:focused .table-row-cell:filled:focused:selected, .table-row-cell:filled:focused:selected { -fx-background-color: #1b272a; }

.table-view:row-selection .table-row-cell:filled:hover { -fx-background-color: #1d2b2e; }

.table-view:focused .table-row-cell:filled:focused:selected:hover, .table-view:row-selection .table-row-cell:filled:focused:hover { -fx-background-color: #1d2b2e; }

.song { -fx-text-fill: #fcfafa; -fx-border-color: transparent #16272B transparent transparent; }

.table-row-cell { -fx-background-color: #121A1C; }

* { -fx-font-family: Helvetica, Arial, sans-serif; }

.player-window { -fx-background-color: #16272B; }

.toolbar { -fx-background-color: #16272B; -fx-padding: 5px; }

.controls { -fx-padding: 5px; -fx-background-color: #1b3035; }

.slider { -fx-padding: 33px 10px 25px 10px; }
.slider .thumb { -fx-background-color: #FF4E50; -fx-border-radius: 0px; }
.slider .track { -fx-background-color: #1A454D; }
