.button, .button:hover { -fx-background-color: #1A454D; -fx-text-fill: #EBEBEB; -fx-border-width: 0; -fx-font-weight: bold; }

.button:hover { -fx-background-color: #205660; -fx-border-color: #205660; -fx-border-width: 0; }

.btn-play:hover, .btn-pause:hover { -fx-background-color: transparent; }

.btn-play { -fx-background-color: transparent; -fx-background-image: url("images/btn-play.png"); -fx-background-size: 160px; }

.btn-pause { -fx-background-color: transparent; -fx-background-image: url("images/btn-play.png"); -fx-background-size: 160px; -fx-background-position: -80px; }

.playlist { -fx-background-color: #16272B; }

.song { -fx-background-color: #121A1C; -fx-text-fill: #EBEBEB; -fx-border-width: 1px; -fx-border-color: #16272B transparent transparent transparent; }

.song:hover { -fx-background-color: #162023; }

* { -fx-font-family: Helvetica, Arial, sans-serif; }

.player-window { -fx-background-color: #16272B; }

.toolbar { -fx-background-color: #16272B; -fx-padding: 5px; }

.controls { -fx-padding: 5px; -fx-background-color: #1b3035; }

.slider { -fx-padding: 25px 10px 25px 10px; }
.slider .thumb { -fx-background-color: #FF4E50; -fx-border-radius: 0px; }
.slider .track { -fx-background-color: #1A454D; }
